@import "foundation"


.settings_buttons
  a.settings_button_link
    display: none
.main_box
  .edit_view
    display: none
  .delete_view
    display: none

.main_box.editing
  .delete_view
    display: none
  .edit_view
    display: block

.main_box.deleting
  .edit_view
    display: none
  .delete_view
    display: block