<div class="row tabs">
  <div class="eight columns">
    <h3>{{full_name}}</h3>
  </div>
  <div class="four columns">
    <a class="small button" href="#" {{action updateGroupInfo target="controller"}}>Update info</a>
  </div>
</div>

