<div class='six columns'>
  <div class='groups'>
    {{#each group in controller.content}}
      <a {{action showGroup group href=true}}>{{group.login}}</a>
    {{/each}}
  </div>
</div>
<div class="six columns">
  {{outlet}}
</div>