<div class="row">
  <div class="four columns">
    <dl class="tabs vertical">
      {{#each group in controller}}
        <dd><a {{action showGroup group href=true}}>{{group.full_name}}</a></dd>
      {{/each}}
    </dl>
  </div>
  <div class="eight columns">
    {{outlet}}
  </div>	
</div>