<div class="row">
  <div class="nine columns">
    <h2>{{full_name}}</h2>
    <h5 class="subheader">{{description}}</h5>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    {{outlet tags}}
  </div>
</div>

{{outlet}}