<h3>What is MoSCoW for Yammer?</h3>
<h5 class="subheader">We've got you covered when it comes to useful features and we've made it easy to take out what you don't need. Here's what you'll get when you create a project using our Gem or the default CSS version:</h5>

<div class="row">
  <div class="four columns">
    <dl>
      <dt><h5><a href="grid.php">The Grid</a></h5></dt>
      <dd>Our grid works on almost any device and has support for nesting, source ordering, offsets and device presentation. It almost makes creating layouts too easy!</dd>
    </dl>
  </div>
  <div class="four columns">
    <dl>
      <dt><h5><a href="typography.php">Typography</a></h5></dt>
      <dd>Our type is based on a golden ratio modular scale that creates meaninful relationships for the copy on the page. It's easily updated using Scss or our CSS customizer.</dd>
    </dl>
  </div>
  <div class="four columns">
    <dl>
      <dt><h5><a href="buttons.php">Buttons</a></h5></dt>
      <dd>Buttons are a core interactive element of the Web. We've included styles for creating simple marketing CTAs to complex application toolbars.</dd>
    </dl>
  </div>
</div>
